# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (VERY IMPORTANT)
.env
.env.*
backend/.env
frontend/.env

# Build outputs
dist/
build/

# OS files
.DS_Store

# Editor
.vscode/
